@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
    margin: 0;
    padding: 0;
}

.animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cardContainer {
    height: 100px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;

    /*depth of the elements */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;

    /*border: 1px solid #ff0000;*/
    padding-left: 1%;
}

.card {
    margin: 60px auto;
    width: 400px;
    height: 200px;
    cursor: pointer;

    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    color: white;
    text-align: center;
    font-size: 2em;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card .back {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;

}

.card .back {
    background: #03446A;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*Colors for front and back applied here*/
.cardContainer:first-child .card .front {
    background: #2aa9e0;
}

.cardContainer:first-child .card .back {
    background: #2aa9e0;
}

.fa-volume-up {
    position: absolute;
    margin-top: -20px;
    right: 30px;
}

.card {
    height: 175px;
}

@media all and (max-width: 752px) {

    .cardContainer:nth-child(3), .cardContainer:nth-child(4) {
        margin-top: 3%;
    }

}

@media all and (max-width: 390px) {

    .card {
        width: 100%;
        height: 150px;
    }

}

.wordButton {
    display: block;
    width: 300px;
    margin: 120px auto;
    background-color: #2aa9e0;
    font-size: 2em;
    border: none;
    border-radius: 2px;
    color: white;
    -webkit-border-before: none;

}

.wordButton:last-of-type {
    margin-top: -100px;
    background-color: #e03366;
}
