@font-face {
    font-family: Itim Cyrillic; /* Гарнитура шрифта */
    src: url(../fonts/11988.otf); /* Путь к файлу со шрифтом */
}
body{
    background-image: url("../styles/back.jpg");
    margin: 0;
}
* {
    font-family: Itim Cyrillic;
}
#main{
    font-family: Albertus;
    font-size: 60px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.57);
}
header a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}
input{
    display: none;
}
label{
    display: none;
}