
.randomLabel{
    margin: 10px auto;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    display: block;
    width: 100px;
}

.randomizer input:checked ~ .randomLabel {

    background-color: #e03366;
}
.randomLabel{
    background-color: #2aa9e0 ;
}

.randomizer input{
    display: none;
}