body{

    margin: 0;
    padding: 0;
}
#counter{
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
    margin-top: 10px;
}
#testTimer{
    float: left;
}

#eng{
    height: 50px;
    width: auto;
    color: white;
    font-family: Castellar;
    background-color: #2aa9e0;
    font-size: 40px;
    text-align: center;
    padding: 20px 0px;
    margin: 40px auto;
}
#flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.rus{
    min-width: 300px;
    border: none;
    color: white;
    background-color: #e03366;
    font-size: 25px;
    text-align: center;
    padding: 15px 15px;
    margin-top: 40px;
}
#wrongWords{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.wrongWord{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.engWord,.rusWord{
    font-size: 20px;
    padding: 10px;
}

@media all and (max-width : 1000px) {
    #flex {
        flex-direction: column;
    }
}
